# Docker build context ignore
node_modules
.next
.out
dist
.git
.vscode
Dockerfile*
render.yaml
vercel.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.production
public/uploads/*
!public/uploads/.gitkeep
